---
# Front matter comment to ensure Jekyll properly reads file.
---

@import 'modern-resume-theme';

@font-face {
    font-family: 'S-CoreDream';
    font-weight: 100;
    font-style: normal;
    src: url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream1.woff2) format('woff2'),
         url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream1.woff) format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'S-CoreDream';
    font-weight: 200;
    font-style: normal;
    src: url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream2.woff2) format('woff2'),
         url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream2.woff) format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'S-CoreDream';
    font-weight: 300;
    font-style: normal;
    src: url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream3.woff2) format('woff2'),
         url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream3.woff) format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'S-CoreDream';
    font-weight: 400;
    font-style: normal;
    src: url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream4.woff2) format('woff2'),
         url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream4.woff) format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'S-CoreDream';
    font-weight: 500;
    font-style: normal;
    src: url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream5.woff2) format('woff2'),
         url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream5.woff) format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'S-CoreDream';
    font-weight: 600;
    font-style: normal;
    src: url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream6.woff2) format('woff2'),
         url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream6.woff) format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'S-CoreDream';
    font-weight: 700;
    font-style: normal;
    src: url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream7.woff2) format('woff2'),
         url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream7.woff) format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'S-CoreDream';
    font-weight: 800;
    font-style: normal;
    src: url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream8.woff2) format('woff2'),
         url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream8.woff) format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'S-CoreDream';
    font-weight: 900;
    font-style: normal;
    src: url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream9.woff2) format('woff2'),
         url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream9.woff) format('woff');
    font-display: swap;
}

/* 모든 텍스트 요소에 폰트 설정 */
h1, h2, h3, h4, h5, h6, b, p, li {
    font-family: 'S-CoreDream';
    text-align: start;
}

/* 각 섹션 제목 */
h3 {
    text-align: center;
    font-weight: 500;
    color: #D9730D;
}

/* 상단 자기소개 부분의 텍스트 줄높이 설정 */
.intro-container p {
    line-height: 1.8;
}

/* 마크다운 리스트 */
li {
    line-height: 1.7;
}


.layout {
    /* Content 의 Left Layout 요소 */
    .details {
        justify-content: start; /* Left Layout 상하 가운데 정렬 제거 (상단 배치) */
        padding-top: 6px; /* right content 의 마크다운 컨텐츠와 상단 높이를 맞추기 위함 */

        h4 {
            font-weight: 500;
        }
        .fab {
            font-size: 2.2rem;
            margin-right: 3px;
            // margin-left: 2px;
        }
        .link {
            font-size: 1.3rem;
            color: blue;
        }
//         .fa-github::after {
//             content: "Github";
//             font-family: 'S-CoreDream';
//             font-weight: 400;
//             font-size: 1.5rem;
//         }
//         .fa-youtube::after {
//             content: "YouTube";
//             font-family: 'S-CoreDream';
//             font-weight: 400;
//             font-size: 1.5rem;
//         }
//         a {
//             position: relative; /* 부모 요소의 기준으로 아이콘 위치 설정 */
//             padding-left: 22px; /* 텍스트와 아이콘 간격 설정 */
//         }
//         a::before {
//             content: ""; /* 가상 요소의 내용 설정 */
//             position: absolute; /* 위치를 절대 위치로 설정 */
//             left: 0; /* 아이콘을 텍스트 왼쪽에 배치 */
//             top: 50%; /* 수직 중앙 정렬을 위해 top 값 설정 */
//             transform: translateY(-50%); /* 수직 중앙 정렬을 위한 변환 */
//             width: 16px; /* 아이콘 너비 설정 */
//             height: 16px; /* 아이콘 높이 설정 */
//             background-image: url('https://kt-aivle-loggi-bucket.s3.ap-northeast-2.amazonaws.com/images/github-icon-128.png'); /* 아이콘 이미지 설정 */
//             background-size: cover; /* 이미지 크기 조절 */
//         }
//         .link {
//             padding-top: 2px;
//             color: gray;
//             font-size: 1.3rem;
//             font-weight: 400;
//             text-decoration: underline;
//         }
    }
    /* Content 의 Right Layout 요소 */
    .content {
        p.quote {
            /* padding: 0 0 0.5rem 0; */
            padding: 6px 0rem 0.2rem 2px;
            text-align: start;
            font-style: normal;
            font-weight: 600;
        }
        a {
            color: Blue;
            font-weight: 600;
        }
        strong {
            font-weight: 700;
        }
    }
}


/*
i.fab.fa-github {
    width: 100px;
    height: 100px;
}
p.no-print.aditinal-links {
    width: 100px;
    height: 100px;
}
*/